<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="M10Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <M10Editor.Properties.Settings>
      <setting name="M10DecoderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="M10EncoderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ZipalignPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ADBPath" serializeAs="String">
        <value />
      </setting>
    </M10Editor.Properties.Settings>
  </userSettings>
</configuration>